# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Superpowers tooling
.superpowers/

# CocoaPods
Pods/

# Build outputs
build/
*.profraw
